body {
    background-color: #eee;
}

.help {
    width: 100%;
    position: relative;
}

.help-header {
    min-height: 420px;
    width: 100%;
    background-color: #1287A8;
}

.help-content {
    position: absolute;
    top: 3rem;
    left: 0;
    right: 0;
    width: 100%;
}


/* ASIDE */

.aside,
.articles {
    width: 100%;
}

.aside {
    background-color: #1287A8;
    margin-bottom: 2rem;
}

.aside h2 {
    color: #fff;
    font-weight: 400;
    padding: 1rem 1.5rem;
    border-left: 2px solid #fff;
}

.menu {
    list-style-type: none;
}

.menu a {
    display: block;
    padding: .5rem;
    text-decoration: none;
    color: #ccc;
    transition: all .1s;
}

.menu a:hover {
    background-color: #106881;
    color: #fff;
}


/* ARTICLE */

.articles {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
    background-color: #fff;
}

.article {
    display: block;
    background-color: #fff;
    border-top: 1px solid #ddd;
    color: #fff;
}

.article-title,
h4 {
    background-color: #fff;
    padding: 1rem 2rem;
    color: #212121;
    font-size: 2rem;
}

h4 {
    padding: .5rem 0;
    font-size: 1.2rem;
}

.article-title i {
    position: relative;
    top: .1rem;
    font-size: 1.2rem;
    margin-right: 1rem;
}

.article-content {
    padding: 1rem 2rem;
    transition: transform .3s;
    color: #212121;
}

.attention {
    background-color: #249467;
    padding: .5rem;
    color: #fff;
}

@media screen and (min-width: 20em) {}

@media screen and (min-width: 30em) {}

@media screen and (min-width: 37.5em) {}

@media screen and (min-width: 48em) {}

@media screen and (min-width: 64em) {
    .help-content {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    .aside,
    .articles {
        display: inline-block;
    }
    .aside {
        width: 30%;
        background-color: transparent;
        margin-left: 4rem;
    }
    .articles {
        display: inline-block;
        width: 60%;
    }
}

@media screen and (min-width: 75em) {}