@import 'base/_colors';
@import 'base/_typography';

.icon-toggle {
	display  : block;
	margin   : 1rem 0;
	cursor   : pointer;
	color    : #222;
	font-size: 3rem;
}
/* Tamaños de los iconos*/
.icon-large {
	font-size: 1.6rem;
}

.icon-middle {
	font-size: 1.1rem;
}

.icon-small {
	font-size: 0.8rem;
}
/* Colors class*/
.primary {
	color: $color-primary !important;
}

.info {
	color: $color-info !important;
}

.error {
	color: $color-error !important;
}

.danger {
	color: $color-danger !important;
}

.warning {
	color: $color-warning !important;
}

.success {
	color: $color-success !important;
}

.alice {
	color: $alice-blue;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

.bold {
	font-weight: $bold;
}

.center {
	text-align: center;
}

.no-border {
	border: none;
}

.divider {
	display   : block;
	width     : 100%;
	height    : 1px;
	background: $border-color;
}
/* other classes*/
.bg-facebook {
	background-color: $facebook !important;
}

.color-facebook {
	color: $facebook !important;
}

.bg-googlemas {
	background-color: $googlemas !important;
}

.color-googlemas {
	color: $googlemas !important;
}

.show {
	display: block;
}

.hide {
	display: none;
}

.reduce-size {
	-webkit-transform: scale(.95);
	transform        : scale(.95);
}

.zoom {
	-webkit-transform: scale(1.2);
	transform        : scale(1.2);
}

.radius {
	border-radius: 50%;
}

a {
	&.underline {
		text-decoration: underline;
	}

	&.nodecoration {
		text-decoration: none;
	}

	&:active,
	&:hover {
		&.nodecoration {
			text-decoration: none;
		}
	}
}
