$cssCore: false;
$cssHelpers: true;
$devMode: false;

$max-width: 1600px;

@import 'providers/ed-grid';

@import 'base/_base';
@import 'utilities/_utilities';

@import 'components/_panel';
@import 'components/_form';
@import 'components/_buttons';
@import 'components/_buttons';
@import 'components/_indicators.scss';
@import 'components/_table.scss';
@import 'components/_bar-loading';

@import 'layouts/_header';
@import 'layouts/_footer';
@import 'layouts/_menu-vertical';
@import 'layouts/_preview';
