.form {
	padding: 15px;

	.form-group {
		margin: 0 0 1.2em;

		// Validation errors
		&.error {
			// input
			.input {
				border-color: $color-error;
			}

			// message error
			.message,
			.label {
				color: $color-error;
			}
		}
	}

	.input {
		display: block;

		border-radius: 3px;

		width: 100%;

		height: 36px;

		padding: 6px 12px;

		color: $input-color;

		cursor: pointer;

		border: 1px solid darken($border-color, 10%);

		outline: none;

		box-shadow: inset 0 1px 1px rgba(#fff, .5);

		background: #FFF;

		&:focus {
			border-color: lighten($color-primary, 15%);

			background: #fff;
		}

		// Placeholder
		&::-webkit-input-placeholder {
			color: $input-color-placeholder;
		}

		&:-moz-placeholder {
			/* Firefox 18- */
			color: $input-color-placeholder;
		}

		&::-moz-placeholder {
			/* Firefox 19+ */
			color: $input-color-placeholder;
		}

		&:-ms-input-placeholder {
			color: $input-color-placeholder;
		}

		&:disabled {
			background-color: $body-bg;
		}
	}

	.label {
		padding: 1em 0;

		font-size: 1.1em;
	}

	textarea {
		resize: vertical;

		min-height: 36px;

		max-height: 120px !important;
	}
}

input {
	cursor: pointer;
}

label.checkbox {
	cursor: pointer;
	input {
		position: relative;

		top: 3px;

		margin-right: 6px;
	}
}

// messages
.message {
	margin: 5px 0;

	color: #888;
}

