// Panels
.panel-container {
    &.panel-column-2 {
	     @include from(l) {
	        @include grid(div, 2);
	    }
    }

    &.panel-column-3 {
	    @include from(m) {
	        @include grid(div, 3);
	    }
    }
}

.panel {
    margin-bottom: 22px;

    border-radius: 3px;

    overflow: hidden;

    width: 100%;

    &.panel-small {
        max-width: 360px;

        margin: .5em auto;
    }

    &.panel-middle {
        margin: .5em auto;

        max-width: 800px;
    }

    &__heading {
        padding: 6px 15px;

        font-size: 1.1em;

        border-color: $panel-default-border;
		border: 1px solid #E6E9ED;
		border-bottom: none;

        border-top-left-radius: 3px;

        border-top-right-radius: 3px;

        background-color: #fff;

        display: flex;
        justify-content: space-between;
        align-items: center;

		.title {}
		.panel-buttons {
			color: $input-border;
			cursor: pointer;
		}
    }

    &__body,
    &__footer {
        padding: 20px;
    	background-color: #fff;
    	border: 1px solid #E6E9ED;

    }

    &__footer {
    	box-shadow: 0 1px 1px rgba(#fff, .5);
    	padding: .5em 1em;
    }

    // Paneles de colores
    &.panel-green {
        border-color: $color-success;
        .panel__heading {
            border-color: $color-success;

            background: lighten($color-success, 30%);

            color: $color-success;
        }
        .panel-buttons {
			color: darken($color-success, 8%);
		}
    }

    &.panel-blue {
        border-color: $color-primary;
        .panel__heading {
            border-color: $color-primary;

            background: lighten($color-primary, 30%);

            color: $color-primary;
        }

        .panel-buttons {
			color: darken($color-primary, 8%);
		}
    }
}

.panel-options {
	width: 100%;
	height: 50px;
	margin-bottom: .5em;
	justify-content: center;

	@include from(m) {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
