.todo-list {
	list-style: none;
	padding: 0;

	&__item {
		background: #F3F3F3;
		padding: .5em;
		margin-bottom: .5em;
		height: 40px;

		&:hover {
			background: darken(#F3F3F3, 2%);
		}

		&.active {
			background: darken(#F3F3F3, 8%);
			a {text-decoration: line-through; color: darken($color-error, 10%);}
			a span {
				color: #FFF;
				background: darken($color-error, 10%);
				text-decoration: none;
			}
		}
	}

	a {
		text-decoration: none;
		color: #73879C;
		display: flex;
		transition: all 0.3s;
	}

	span {
		background: darken(#F3F3F3, 10%);
		display: flex;
		justify-content: center;
		align-items: center;
		padding: .4em;
		border-radius: 3px;
		margin-right: .5em;
		color: darken(#F3F3F3, 10%);
		transition: all 0.3s;
	}
}
