/* Tooltip container */
.tooltip {
    position: relative;

	/* Tooltip text */
	.tooltiptext {
	    visibility: hidden;
	    width: 200px;
	    background-color: $tooltip-bg-color;
	    color: #fff;
	    text-align: center;
	    padding: 5px 0;
	    border-radius: 6px;

	    /* Position the tooltip text */
	    position: absolute;
	    z-index: 200;

	   	/* Fade in tooltip */
	    opacity: 0;

		// tooltip left
	    &.left {
			top: -4px;
		    right: 102%;
    		&::after {
			    top: 10px;
			    right: -10px;
			    border-left: 5px solid $tooltip-bg-color;
			}
	    }

		// tooltip right
	     &.right {
			top: -4px;
			left: 102%;
    		&::after {
			    top: 10px;
			    left: -10px;
			    border-right: 5px solid $tooltip-bg-color;
			}
	    }

	    // tooltip right
	     &.top {
			left: -4px;
			bottom: 102%;
			margin-left: -70px;
    		&::after {
			    top: 100%;
			    left: 50%;
			    border-top: 5px solid $tooltip-bg-color;
			}
	    }

	    &.right,
	    &.left,
	    &.top {
			@include to(m) {
				opacity: 0;
			}
	    }

	    &.red {
	    	background: $color-error;
	    	color: #FFF;

			&.right {
	    		&::after {
	    			border-right-color: $color-error;
	    		}
			}

			&.left {
	    		&::after {
	    			border-left-color: $color-error;
	    		}
			}
	    }

		/* Tooltip arrow */
		&::after {
		    content: "";
		    position: absolute;
		    border: 5px solid transparent;
		}
	}

	&:hover {
		.tooltiptext {
			@include from(m) {
				visibility: visible;
		   		opacity: 1;
			}
		}
	}
}



