.main-footer {
	background: rgba(255,255,255,.8);

	border-top: 1px solid #d7d8db;

	bottom: 0;
	width: 100%;
	padding: 14px;

	position: fixed;

	z-index: 200;

	@include from(m) {
		padding-left: 230px;
	}

	.help-block {
		font-size: 1.2em;

		text-align: center;


		font-weight: $bold;

		position: relative;

		top: .5em;
		left: .5em;

		@include to(640px) {
			margin: 0 auto 1em;
			display: block;
		}
	}
}
