.main-header {
	position: relative;

	max-height: 60px;

	margin-bottom: 30px;

	padding: 15px;

	width: 100%;

	background: #fff;

	border-bottom: 1px solid $navbar-default-border;

	display: flex;

	justify-content: space-between;

	align-items: center;
}

// Menu 
.main-menu {
	@include edMenu(m);

	li {
		position: relative;
		// submenu
		ul.main-submenu {
			padding: .5em 0;

			background: #fff;

			border: 1px solid $border-color;

			box-shadow: 0 1px 1px rgba(#000, .15);

			li:hover {
				background: $color-primary;
				a {
					color: #fff;
				}
			}

			li:last-child {
				margin-top: 0.5em;
			}
		}
	}

	a {
		line-height: 1.8;

		color: #4b4f56;

		&.dropdown {
			display: inline-block;
		}
	}

	.avatar {
		display: inline-block;

		border-radius: 50%;

		width: 32px;
	}
}

// icon 
span.icon {
	position: relative;
	top: 0;
}