.main-header {
	position: relative;

	max-height: 60px;

	width: 100%;

	background: #fff;

	border-bottom: 1px solid $navbar-default-border;

	display: flex;

	justify-content: space-between;

	align-items: center;
}

// Menu
.main-menu {
	// @include edMenu(m);
	&, ul  {
		list-style: none;
	}
	position: relative;
	padding: 0;
	margin: 0;

	> li {
		position: relative;
		cursor: pointer;
		padding: .5em;

		&.dropdown-toggle {
			background: #E3E3E3;
		}
	}

	// submenu
	ul.main-submenu {
		position: absolute;
		margin-top: 8px;
		padding: 0;
		background: #fff;

		right: 0;
	    left: auto;
	    width: 220px;

		box-shadow: 0 1px 1px rgba(#000, .15);

		li:hover {
			background: #E3E3E3;
		}

		li:last-child {
			margin-top: 0.5em;
		}

		a {
			line-height: 1.8;
			text-decoration: none;
			padding: .5em 1em;
			width: 100%;
			display: block;
		}

	}

	a {
		line-height: 1.8;
		text-decoration: none;
		color: #4b4f56;
		padding: 0 .5em;
		&.dropdown {
			display: inline-block;
		}
	}

	.avatar {
		display: inline-block;

		border-radius: 50%;

		width: 32px;
	}
}

// icon
span.icon {
	position: relative;
	top: 0;
	right: 0;
}

.toggle-bars {
	margin: 0 1em;
	cursor: pointer;
	color: #555;
}
